<div
  (click)="onSelectAmount()"
  class="rounded-full px-4 py-2 border text-center min-w-[100px] transition-all duration-200 cursor-pointer text-sm sm:text-base border-gray-300 hover:border-blue-500 font-medium mb-2"
  [ngClass]="{
    'bg-teal-500 text-white': selected,
    'text-gray-700': !selected
  }"
>
  <ng-container *ngIf="amount !== null"
    ><span>&#8377;{{ amount }}</span></ng-container
  >
  <ng-container *ngIf="amount === null"
    ><span>Other Amount</span>
  </ng-container>
</div>
