<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="true"
>
	<targets>
		<target xsi:type="ColoredConsole"
			  name="target1"
			  layout="${level:uppercase=true} | ${longdate} | ${assembly-version} | API | ${logger} | ${message} ${exception} | ${all-event-properties}"
			  useDefaultRowHighlightingRules="false"
			  errorStream="true"
			  enableAnsiOutput="true"
			  detectConsoleAvailable="true">
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Magenta" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
		</target>
	</targets>

	<rules>
		<logger name="api.*" minlevel="Trace" writeTo="target1" />
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Trace" writeTo="target1" />

		<!-- Exclude framework logs -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.*" maxlevel="Info" final="true" />
	</rules>
</nlog>